footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: fit-content;
    padding: calc(80px + 3vmin) 0 30px 0;
    color: white;
    text-align: center;
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.67);
    border-top: 4px solid white;
    background-image: url("./images/Utilisé_dans_plusieurs_section/red_bg.webp");
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
}

footer h2 {
    width: 80%;
    max-width: 1400px;
    margin-bottom: 20px;
    font-size: clamp(18px, 2vw + 2.5vh, 35px);
    z-index: 1;
}

footer h2 span {
    display: block;
    font-family: "Quicksand", sans-serif;
    font-size: clamp(16px, 0.4vw + 1.6vh, 25px);
    font-weight: 450;
    margin-bottom: 10px;
    z-index: 1;
}

footer p {
    width: 80%;
    max-width: 600px;
    font-weight: 600;
    z-index: 1;
}

footer button {
    background-color: white;
    border: 2px solid white;
    color: #C33028;
    margin-top: 40px;
    margin-bottom: 100px;
    z-index: 1;
    font-weight: 600;
    cursor: pointer;
    padding: 10px;
    transition: all 0.2s ease-in-out;
    max-width: 80%;
    font-family: "Lugrasimo", cursive;
    font-size: clamp(16px, 0.4vw + 1.8vh, 25px);
}

footer button:hover {
    color: white;
    background-color: transparent;
}

footer small {
    font-family: "Quicksand", sans-serif;
    z-index: 1;
    background-color: #c42c27cb;
    max-width: 80%;
}

/**************** Section 5 ****************/ /* Image juste avant le Footer */

.section_5 {
    width: 100%;
    height: calc(185px + 20vmin);
    background-image: url("./images/Section_5_Img_Avant_Footer/img_before_footer.webp");
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
    border-top: 35px solid #F2E73D;
}

/***************** MEDIA QUERY ****************/

@media (hover: none) {    /* Appareils sans capacité d'Hover */
    .section_5 {
        background-attachment: initial;
    }

    footer button:hover {
        background-color: white;
        border: 2px solid white;
        color: #C33028;
    }
}

@media screen and (min-height: 650px) and (min-aspect-ratio: 150/100) { /* Double Illustration Footer */
    footer::before,
    footer::after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: 100%;
        background-image: url("./images/Utilisé_dans_plusieurs_section/landing-illustration-left.webp");
        background-origin: padding-box;
        background-size: contain;
        background-position: center left;
        background-repeat: no-repeat;
        filter: opacity(0.5)
    }

    footer::after {
        background-image: url("./images/Utilisé_dans_plusieurs_section/landing-illustration.webp");
        background-position: center right;
    }
}

@media screen and (min-width: 1024px) { /* Menu Burger Supprimé & Réorganisation du layout des sections */
    .section_5 {
        background-position: center;
    }
}